
body {font-size: 125%;
}
h1 {
    color: red;
}
h2  {
     color: red;
}
p {
    color: red;
}

p2 {
    color: red;
}

h3 {
  font: 20px arial, sans-serif;
}


diva {
background-image: url("http://www.springsteenlyrics.com/lyrics/2002_therising/therising_alb.jpg");
}

div1 {
background-image: url("http://www.springsteenlyrics.com/lyrics/2002_therising/therising_alb.jpg");
&nbsp;
display:block; 
background-repeat: no-repeat;
background-size: 50% ;
background-position: center;

}


